<div class="container mt-4">
  <div class="d-flex align-items-center justify-content-center">
    <h2>Bibliotheksverwaltung</h2>
  </div>

  <table datatable [dtOptions]="dtOptions" class="table table-bordered table-hover"></table>

  <form [formGroup]="bookLending" class="mt-4">
    <div class="form-group">
      <label [ngSwitch]="lendStatus" class="font-weight-bold">
        <span *ngSwitchCase="'0'"> <strong>Buch verfügbar</strong></span>
        <span *ngSwitchCase="'1'"> <strong>Buch nicht verfügbar</strong></span>
      </label>
    </div>
    <br>
    <div class="form-group">
      <p>Title: <strong>{{ message }}</strong></p>
      <p>Datum letzte Ausleihe: {{ loanDate }}</p>
      <p>Datum Rückgabe: {{ returnDate }}</p>
    </div>
    <label>Anmerkungen</label><br />
    <input type="text" id ="notes" formControlName="notes" name="notes"/>

    <div *ngIf="bookLending.get('notes')?.hasError('maxlength')">
      Die Notizen dürfen maximal 15 Zeichen lang sein.
    </div>
    <div class="form-group">
      <book-Lending-Combo #bookCombo (conditionChange)="onConditionChange($event)"></book-Lending-Combo>
    </div>
    <div class="form-group">
      <button class="btn btn-primary" (click)="bookLendingManagement(lendStatus)" [disabled]="bookLending.get('notes')?.hasError('maxlength')">
        {{ lendStatus === '0' ? 'Buch ausborgen' : (lendStatus === '1' ? 'Buch zurückgeben' : 'Buch ausborgen') }}
      </button>
      <button class="btn btn-danger ml-2" (click)="removeBibData()" [disabled]="bookLending.get('notes')?.hasError('maxlength')">Bibliothekseintrag löschen</button>

    </div>

  </form>
</div>
