
<button class="btn btn-primary mb-2 mr-2" (click)="toggleProfile()">Profil</button>

<button class="btn btn-primary mb-2 mr-2" (click)="toggleUsers()">Mitglieder</button>

<button class="btn btn-primary mb-2 mr-2" (click)="navigateToBooks()">Bücher</button>

<button class="btn btn-primary mb-2 mr-2" (click)="navigateToBib()">Bibliothek</button>

<button class="btn btn-primary mb-2 mr-2" (click)="toggleRecessions()">Rezessionen</button>

<button class="btn btn-primary mb-2 mr-2" (click)="navigateToCommends()">Kommentare</button>

<button class="btn btn-danger mb-2 mr-2" (click)="logOut()">Abmelden</button>
<div [ngSwitch]="activeView">
  <ng-container *ngSwitchCase="'profile'">
    <app-profile [userData]="userData" (notificationEvent)="receiveNotification($event)"></app-profile>
  </ng-container>

  <ng-container *ngSwitchCase="'users'">
    <!-- Content for the 'user' state -->
    <app-users [userCollection]="userCollection"></app-users>
  </ng-container>


  <ng-container *ngSwitchCase="'bibliothek'">
    <app-book-lending [bookCollection]="bookCollection"></app-book-lending>
  </ng-container>

  <ng-container *ngSwitchCase="'recessions'">
    <app-recession-search [recessionCollection]="recessionCollection"></app-recession-search>
  </ng-container>

  <!-- Add more ngSwitchCase as needed for other states -->

  <ng-container *ngSwitchDefault>
    <!-- Default content or fallback if activeState doesn't match any case -->
  </ng-container>
</div>






