
<button label="Profil" (click)="toggleProfile()">Profil</button>

<button label="Mitgleider" (click)="toggleUsers()">Mitglieder</button>

<button label="Bücher" (click)="toggleBooks()">Bücher</button>

<button label="Recessionen" (click)="toggleRecessions()">Rezessionen</button>

<button label="Kommentare" (click)="navigateToCommends()">Kommentare</button>

<button label="Abmelden" (click)="logOut()">Abmelden</button>

<div [ngSwitch]="activeView">
  <ng-container *ngSwitchCase="'profile'">
    <app-profile [userData]="userData" (notificationEvent)="receiveNotification($event)"></app-profile>
  </ng-container>

  <ng-container *ngSwitchCase="'users'">
    <!-- Content for the 'user' state -->
    <app-users [userCollection]="userCollection"></app-users>
  </ng-container>

  <ng-container *ngSwitchCase="'books'">
    <app-books [bookCollection]="bookCollection"></app-books>
  </ng-container>

  <ng-container *ngSwitchCase="'recessions'">
    <app-recession-search [recessionCollection]="recessionCollection"></app-recession-search>
  </ng-container>

  <!-- Add more ngSwitchCase as needed for other states -->

  <ng-container *ngSwitchDefault>
    <!-- Default content or fallback if activeState doesn't match any case -->
  </ng-container>
</div>






