
<button label="Profil" (click)="toggleProfile()">Profil</button>

<button label="Mitgleider" (click)="toggleUsers()">Mitglieder</button>

<button label="Bücher" (click)="navigateToBooks()">Bücher</button>

<button label="Bibliothek" (click)="navigateToBib()">Bibliothek</button>

<button label="Abmelden" (click)="logOut()">Abmelden</button>

<div [ngSwitch]="activeView">
  <ng-container *ngSwitchCase="'profile'">
    <app-profile [userData]="userData" (notificationEvent)="receiveNotification($event)"></app-profile>
  </ng-container>

  <ng-container *ngSwitchCase="'users'">
    <!-- Content for the 'user' state -->
    <app-users [userCollection]="userCollection"></app-users>
  </ng-container>


  <ng-container *ngSwitchCase="'bibliothek'">
    <app-book-lending [bookCollection]="bookCollection"></app-book-lending>
  </ng-container>

  <!-- Add more ngSwitchCase as needed for other states -->

  <ng-container *ngSwitchDefault>
    <!-- Default content or fallback if activeState doesn't match any case -->
  </ng-container>
</div>






