<h1>Anmelden</h1>
<br/>
<form [formGroup] = "loginForm" (ngSubmit)="loginUser()">
    <div>
        <label for="email">E-Mail</label><br />
        <input type="text" formControlName="email" name="email"/>
        <div style="color:red" *ngIf="email.invalid && (email.dirty || email.touched)">
            <p *ngIf="email.errors?.['required']">E-Mail Adresse ist ein Pflichtfeld und muss gültig sein.</p>
            <p *ngIf="email.errors?.['email']">Die E-Mail Adresse muss gültig sein.</p>
        </div>
    </div>
    <div>
        <label for="password">Passwort</label><br />
        <input type="password" formControlName="password" name="password"/>
        <div style="color:red" *ngIf="password.invalid && (password.dirty || password.touched)">
            <p *ngIf="password.errors?.['required']">Passwort ist ein Pflichtfeld.</p>
        </div>
    </div>

    <br />

    <button label="Login" type="submit" [disabled]="loginForm.invalid">Login</button>

    <br />

    <div>
        Noch kein Mitglied? <a routerLink="/register">Registrieren</a>
    </div>
</form>